{% extends 'base.html.twig' %}
{% block body %}
<div class="marg">




    <div style="color:green;">
<p> TEst</p>

    </div>

    <div style="color:red;">
        <p> TEst</p>

    </div>

    <div style="color:yellow;">
        <p> TEst</p>

    </div>

    <div style="color:blue;">
        <p> TEst</p>

    </div>

    <div style="color:green;">

        <p> TEst</p>
    </div >

    <div style="color:blue;">

        <p> TEst</p>
    </div>

</div>

{% endblock%}