{% extends 'base.html.twig' %}

{% block body %}
    <title><h1> Détails de la Livraison </h1> </title>
    <div class="tab-content" >
        <div class="tab-pane active" id="users" aria-expanded="true">

            <table id="usersTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th> Image </th>
                    <th> Titre </th>
                    <th> Description </th>
                    <th> Prix Annonce  </th>
                </tr>
                <tbody>
                {% for a in annonces %}
                    {% for value in liste_ligne %}
                        {% if value.idCommande == tab.id_commande %}
                            {% if value.idAnnonce == a.id %}
                                <tr>
                                    <td> </td>
                                    <td>{{ a.titre}}</td>
                                    <td>{{ a.description }}</td>
                                    <td>{{ a.prix }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}